@use '../abstracts' as *;


.fade-up {
    opacity: 0;
    transform: translateY(30px);
}

.clip-reveal {
    position: relative;
    overflow: hidden;
}

.clip-reveal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-color;
    transform: translateX(-100%);
}

.stagger-children>* {
    opacity: 0;
    transform: translateY(20px);
}