@use '../abstracts' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: #fff;
    background-color: #000;
    height: 100%;
}

a {
    color: $primary-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: $font-family-base;
}